<%= form_with(model: journal) do |form| %>
  <% if journal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
        <% journal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <br>
    <%= form.label "Date", style: "display: block" %>
    <%= form.date_field :date, :class => "form-control" %>
    <br>
  </div>

  <div>
    <%= form.label "Weight (kg)", style: "display: block" %>
    <%= form.number_field :weight, :class => "form-control" %>
    <br>
  </div>

  <div>
    <%= form.label "Journal Entry:", style: "display: block" %>
    <%= form.text_area :entry, :class => "form-control" %>
    <br>
  </div>

  <div>
    <%= form.label "Did you attend the gym today?", style: "display: block" %>
    <%= form.check_box :gym_attendance, :class => "form-check-input" %>
    <br><br>
  </div>

  <div>
    <%= form.label "Water (ml)", style: "display: block" %>
    <%= form.number_field :water, :class => "form-control" %>
    <br>
  </div>

  <div>
    <%= form.label "Calories (kCal)", style: "display: block" %>
    <%= form.number_field :calories, :class => "form-control" %>
    <br>
  </div>

  <div>
    <%= form.submit :class => "btn btn-primary" %>
    <br>
  </div>
<% end %>
