<div id="<%= dom_id journal %>">
  <div class="jumbotron">
    <h1 class="display-5"><%= journal.date %></h1>
    <hr class="my-4">
    <p class="lead"><%= journal.entry %></p>
    <hr class="my-4">
    <p><strong>Weight: </strong><%= journal.weight %>kg</p>
    <p><strong>Water: </strong><%= journal.water %>mL</p>
    <p><strong>Calories: </strong><%= journal.calories %></p>
    <div>
      <strong>Gym:</strong>
      <% if journal.gym_attendance %>
        ✓
      <% else %>
        ✕
      <% end %>
    </div>
  </div>
  <hr class="my-4">
  <br>
</div>