<div id="<%= dom_id journal %>">
  <p>
    <strong>Date:</strong>
    <%= journal.date %>
  </p>

  <p>
    <strong>Entry:</strong>
    <%= journal.entry %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= journal.weight %>
  </p>

  <p>
    <strong>Water:</strong>
    <%= journal.water %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= journal.calories %>
  </p>

  <div>
    <strong>Gym attendance:</strong>
    <% if journal.gym_attendance %>
      ✓
    <% else %>
      ✕
    <% end %>
  </div>

  <br>

</div>