<div id="<%= dom_id journal %>">
  <p>
    <strong>Date:</strong>
    <%= journal.date %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= journal.weight %>
  </p>

  <p>
    <strong>Entry:</strong>
    <%= journal.entry %>
  </p>

  <p>
    <strong>Gym attendance:</strong>
    <%= journal.gym_attendance %>
  </p>

  <p>
    <strong>Water:</strong>
    <%= journal.water %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= journal.calories %>
  </p>

</div>
