<h1>Journal Entries</h1>

<div id="journals">
  <br>
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-secondary">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Weight (kg)</th>
        <th scope="col">Calories (kCal)</th>
        <th scope="col">Water (mL)</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @journals.each do |journal| %>
        <% if journal.user == current_user %>
          <tr>
            <th scope="row"><%= journal.date %></th>
            <td><%= journal.weight %></td>
            <td><%= journal.calories %></td>
            <td><%= journal.water %></td>
            <td><%= link_to "Show", journal, :class => "btn btn-link link-primary" %></td>
            <td><%= link_to "Edit", edit_journal_path(journal), :class => "btn btn-link link-primary" %></td>
            <td><%= button_to "Delete", journal, method: :delete, :class => "btn btn-link link-danger" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <br>
  <%= link_to "New journal", new_journal_path, :class => "btn btn-primary" %>
</div>
